.main-content {
  margin-left: 250px; /* Largura da navbar lateral */
  margin-top: 80px; /* Altura da barra superior */
  padding: 20px;
  min-height: calc(100vh - 80px);
  background-color: var(--background-color);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: margin-left 0.3s ease;
  width: calc(100% - 250px); /* Ajusta a largura para não sobrepor a navbar */
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-top: 80px;
    width: 100%;
  }
}
