<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <div class="login-logo">
      <img src="assets/logoverde.png" alt="Logo Flex" />
    </div>
    <h2>Entrar no Painel</h2>
    <div class="form-group">
      <label for="login">Login</label>
      <input
        id="login"
        type="text"
        formControlName="login"
        placeholder="Usuário"
      />
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Senha"
      />
    </div>
    <button type="submit" [disabled]="loading || loginForm.invalid">
      {{ loading ? "Entrando..." : "Entrar" }}
    </button>
    <div class="error" *ngIf="error">{{ error }}</div>
  </form>
</div>
